header.jumbotron
  .container
    h5 森林深處的遺跡
    h1 Rivendell
    
section.intro
  .container
    .row
      .col-md-12
        h2 大海以東最後一處庇護所
        h4 樹木清香，溫暖瑩光滿溢山谷
    .row
      .col-md-4.col-rivendell
        .a
        h4 隱而不顯
        h6.text-muted 於重重險要的山谷、森林、沼澤和溪流之中
      .col-md-4.col-rivendell
        .b
        h4 精靈據點
        h6.text-muted 位於中土大陸迷霧山脈
      .col-md-4.col-rivendell
        .c
        h4 精靈們的宮殿
        h6.text-muted 布滿整個懸崖
  
section.story
  .container
    .row
      .col-md-12
        img.icon-sea(src="http://www.metallibrary.ru/bands/discographies/images/rivendell/pictures/rivendell.gif", alt="")
        h2.section-heading Rivendell故事
        h3.section-subheading.text-muted 隨時間流逝而隱沒，逐漸被世人違忘